h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 33pt; }
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 30pt; }
.level2 {  font-family: Arial, Helvetica, sans-serif; font-size: 28pt; }
p, td, li {  font-family: Arial, Helvetica, sans-serif; font-size: 20pt; }
pre, code {  font-family: Courier, monospace; font-size: 20pt; font-weight: bold; color: #666666; }

